body{
	background-color: lightcyan;
}
h1{
	font-size: 30px;
	color: teal;
}

h2{
	font-size: 20px;
	color: red;
}

h3{
	font-size: 15px;
	color: rebeccapurple;
}
.big{
	font-size: 50px;
}

span{
	color: blueviolet;
}